<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:cover {"useFeaturedImage":true,"alt":"women working in an office","dimRatio":50,"customOverlayColor":"#FFF","isUserOverlayColor":false,"isDark":false,"sizeSlug":"large","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"level":1} /--></div></div>
<!-- /wp:cover --></main>
<!-- /wp:group -->

<!-- wp:post-content /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->