<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:group {"className":"sidebar-layout","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top"}} -->
<div class="wp-block-group sidebar-layout"><!-- wp:group {"metadata":{"name":"Article"},"style":{"spacing":{"padding":{"bottom":"0"},"margin":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70);padding-bottom:0"><!-- wp:post-title /-->

<!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->