<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group"><!-- wp:query-title {"type":"archive"} /-->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"fwd-work","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"include":{"fwd-work-category":[7]}},"parents":[],"format":[]},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-query"><!-- wp:heading -->
<h2 class="wp-block-heading">Web</h2>
<!-- /wp:heading -->

<!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"metadata":{"name":"Article"},"style":{"spacing":{"padding":{"bottom":"0"},"margin":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70);padding-bottom:0"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"width":"","height":"","sizeSlug":"large"} /-->

<!-- wp:post-excerpt {"moreText":"Continue Reading","excerptLength":30} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:query {"queryId":1,"query":{"perPage":3,"pages":0,"offset":0,"postType":"fwd-work","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"include":{"fwd-work-category":[8]}},"parents":[],"format":[]},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-query"><!-- wp:heading -->
<h2 class="wp-block-heading">Photo</h2>
<!-- /wp:heading -->

<!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"metadata":{"name":"Article"},"style":{"spacing":{"padding":{"bottom":"0"},"margin":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70);padding-bottom:0"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"width":"","height":"","sizeSlug":"large"} /-->

<!-- wp:post-excerpt {"moreText":"Continue Reading","excerptLength":30} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></main>
<!-- /wp:group -->